@import "variables.scss";

.title {
  @extend %page-title;
}

.post {
  margin-bottom: 24px;

  h3 {

    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: #777;

  }
  time {
    font-size: 14px;
  }
  p {
    font-size: 14px;
    color: #aaa;
  }
}