.title {
  font-size: 24px;
}

.explanation {
  font-size: 16px;
  color: #888;
  padding-bottom: 24px;
  border-bottom: 1px solid #333;
}

.menu {
  margin-left: 12px;
  li {

    font-size: 20px;
    font-weight: bold;
    list-style: none;
    margin: 24px 0;

    p {
      font-size: 16px;
      color: #888;
    }
  }
}